{% extends 'portfolio/layout.html' %}

{% block main %}
{% load static %}
<link rel="stylesheet" href="{% static 'portfolio/css/weather.css' %}">


	<section>
        <div class="container">
            <h3 class="brand">Weather</h3>
            <div>
                <h1 class="temp">24&#176</h1>
                <div class="city-time">
                    <h1 class="name"></h1>
                    <small>
                        <span class="time">04:20</span>

                        <span class="date">
                            Segunda Jun 20
                        </span>
                    </small>
                </div>
                <div class="weather">
                    <img src="//cdn.weatherapi.com/weather/64x64/day/113.png" alt="icon" class="icon" height="50" width="50">
                    <span class="condition">Cloudy</span>
                </div>
            </div>
        </div>



    </section>
    <script src="{% static 'portfolio/js/weather.js' %}"></script>
{% endblock %}