footer{
    color: black;
    background: lightgray;
}

.hero-image
{
    position: relative;
    right: 0;
    width: 100%;
    height: 90vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #111;
    transition: 0.5s;
    z-index: 2;
}

.hero-image video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.8;
}

.text-hero-image {
    position: absolute;
    z-index: 10;
    top: 35%;
    left: 100px;
    text-align: left;
}

.text-hero-image h2 {
    font-size: 5em;
    font-weight: 800;
    color: #fff;
    line-height: 1em;
    text-transform: uppercase;
    font-family: 'Poppins', sans-serif;
}

.text-hero-image p
{
    font-size: 1.1em;
    color: #fff;
    margin: 20px 0;
    font-weight: 400;
    max-width: 700px;
    font-family: 'Poppins', sans-serif;
}

.text-hero-image a{
  display: inline-block;
  font-size: 1em;
  background: #fff;
  padding: 20px 30px;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 500;
  margin-top: 10px;
  color: #111;
  letter-spacing: 2px;
  transition: 0.2s;
}

.text-hero-image a:hover{
  letter-spacing: 6px;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
}

.sobre {
    position: relative;
    width: 100%;
    height: 95vh;
    background-color: lightgray;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.sobre div{
    position: absolute;
    width: 70vw;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

.sobre img {
    height: 300px;
    width: 300px;
    border-radius: 50%;
}

.sobre h3{
    margin: 20px;
    font-size: 3rem;
}

.sobre p{
    margin: 20px;
    font-size: clamp(1rem,2vw,2rem);
    font-family: "Roboto Light", sans-serif;
}

@media (max-width: 999px) {

    .text-hero-image{
        left: 40px;
    }
    .text-hero-image h2 {
        font-size: 2.5em;
    }
}