* {
  padding: 0;
  margin: 0;
  box-sizing:border-box;
  scroll-behavior: smooth;
}

body{
  background-image: linear-gradient(to right, rgb(20, 147, 220), rgb(17, 54, 71));
}

header {
  height: 10vh;
  background-color: rgba(0,0,0,1);
  color: white;
  top: 0;

  /* alinhando logo e menu */
  display:flex;
  justify-content: space-between;
  align-items: center;
}

.nome {
  font-size: 2em;
  padding: 1em;
}

header nav {
  display:flex;
  justify-contents: flex-end;
}


nav a {
  padding: 0 1em;
  text-decoration: none;
  font-size: 1.5rem;
  color: white;
}

nav a:last-child{
  margin-left: 30px;
}

main {
  min-height: 85vh;
}

footer {
  color: white;
  display: flex;
  width: 100%;
  height: 5vh;
  align-items: center;
  justify-content: center;
}


h1{
    font-weight: 400;
    margin: revert;
}

.container{
    font-family: 'Rubik', sans-serif;
    position:absolute;
    top:0;
    left:300px;
    height:10vh;
    display:flex;
    justify-content:space-between;
    align-items:flex-start;
    flex-direction:column;
    padding:0;
}

.container > div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 0;
}

.city-time,
.temp,
.weather {
    margin: 0 1em;
}

.city-time h1 {
    margin: 0 0 0.2em;
    font-size: 3vh;
}

.temp {
    font-size: 8vh;
    margin: 0;
}

.weather img {
    display: block;
  margin-top: 1vh;
}

.icon {
  height: 5vh;
  width: 5vh;
}

.weather {
  height: 100%;
}