* {
    padding: 0;
    margin: 0;
    box-sizing:border-box;
    scroll-behavior: smooth;
}

body{
    background-image: linear-gradient(to right, rgb(20, 147, 220), rgb(17, 54, 71));
}

main {
  min-height: 85vh;
}

footer {
    color: white;
    display: flex;
    width: 100%;
    height: 5vh;
    align-items: center;
    justify-content: center;
}

a {
    color: #fff;
    text-decoration: none;
    transition: 0.3s;
}

a:hover {
    opacity: 0.7;
}

.nome {
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 4px;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: system-ui, -apple-system, Helvetica, Arial, sans-serif;
    background: #23232e;
    height: 10vh;
}

.nav-list {
    list-style: none;
    display: flex;
    z-index: 20;
}

.nav-list li {
    letter-spacing: 3px;
    margin-left: 32px;
}

.mobile-menu {
    display: none;
    cursor: pointer;
}

.mobile-menu div {
    width: 32px;
    height: 2px;
    background: #fff;
    margin: 8px;
    transition: 0.3s;
}

@media (max-width: 1400px) {
    body {
        overflow-x: hidden;
    }
    .nav-list {
        position: absolute;
        top: 10vh;
        right: 0;
        width: 50vw;
        height: 90vh;
        background: #23232e;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        transform: translateX(100%);
        transition: transform 0.3s ease-in;
    }
    .nav-list li {
        margin-left: 0;
        opacity: 0;
    }
    .mobile-menu {
        display: block;
    }

    .nome{
        font-size: revert;
        letter-spacing: revert;
    }
}

.nav-list.active {
    transform: translateX(0);
}

@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(50px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.mobile-menu.active .line1 {
    transform: rotate(-45deg) translate(-8px, 8px);
}

.mobile-menu.active .line2 {
    opacity: 0;
}

.mobile-menu.active .line3 {
    transform: rotate(45deg) translate(-5px, -7px);
}


.container{
    font-family: 'Rubik', sans-serif;
    height:10vh;
    color: #fff;
}

.container > div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 0;
}

.city-time,
.temp,
.weather {
    margin: 0 1em;
}

.city-time h1 {
    margin: 0 0 0.2em;
    font-size: 3vh;
}

.temp {
    font-size: 8vh;
    margin: 0;
}

.weather img {
    display: block;
    margin-top: 1vh;
}

.icon {
  height: 5vh;
  width: 5vh;
}

.weather {
  height: 100%;
}

.condition{
    white-space: nowrap;
}

@media (max-width: 1400px) {
    .city-time{
        font-size: 1.4vh;
    }

    .temp{
        font-size: 4vh;
    }

    .weather > img{
        height: 25px;
        width: 25px;
    }
}
