section{
    min-height: 85vh;
    padding: 2rem 20px 50px;
}

section > h3 {
    color: white;
    text-align: center;
    font-size: 3rem;
    padding-bottom: 2rem;
}

main{
    background-image: linear-gradient(to right, rgb(20, 147, 220), rgb(17, 54, 71));
    font-family: Arial, Helvetica, sans-serif;
}

.novo{
    color: dodgerblue;
    background-color: rgba(0, 0, 0, 0.6);
    padding: 15px;
    border-radius: 15px;
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto
}

form{
    border: 3px solid dodgerblue;
    padding: 20px;
}

form p{
    position: relative;
    margin: 20px;
}

.inputText{
    background: none;
    border: none;
    border-bottom: 1px solid white;
    outline: none;
    color: white;
    font-size: 15px;
    width: 100%;
    letter-spacing: 2px;
}


.buttons {
    width: 100%;
    display: flex;
    position: relative;
    justify-content: center;
}

#submit{
    background-image: linear-gradient(to right,rgb(0, 92, 197), rgb(90, 20, 220));
    width: 100%;
    border: none;
    padding: 15px;
    color: white;
    font-size: 15px;
    cursor: pointer;
    border-radius: 10px;
}
#submit:hover{
    background-image: linear-gradient(to right,rgb(0, 80, 172), rgb(80, 19, 195));
}

textarea{
    height: 100px;
    resize: none;
}

#id_ects,
#id_semestre,
#id_ranking,
#id_ano{
    display: flex;
}

#id_ects div,
#id_semestre div,
#id_ranking div,
#id_ano div{
    margin: 0 20px;
}

@media (max-width: 999px){
    .novo{
        width: revert;
    }
}

.errorlist{
    display: none;
}