.post_body{
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  min-height: 100vh;
  font-family:'Poppins',sans-serif;
}

.posts_container{
  position: relative;
  width: 1000px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap
}

.posts_container .post{
  position: relative;
  width: 300px;
  height: 400px;
  background: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.posts_container .post:before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  z-index: 20;
  pointer-events: none;

}

.posts_container .post,
.posts_container .post .post-overlay{
  background: linear-gradient(45deg,#000000,#2d3436);
}

.posts_container .post .post-inicial{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.posts_container .post .post-inicial h2{
  margin: 10px 0 0;
  padding: 0;
  color: white;
  font-weight: 700;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.posts_container .post .post-inicial p{
  margin: 10px 0 0;
  padding: 0;
  color: white;
  font-size: 10px;
  text-transform: uppercase;
}

.posts_container .post .post-overlay{
  position: absolute;
  right: 20px;
  bottom: 20px;
  width: 50px;
  height: 50px;
  box-shadow: 0 2px 5px rgba(0,0,0,.2);
  cursor: pointer;
  border-radius: 50%;
  transition: 0.5s;
}

.posts_container .post .post-overlay:hover{
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  box-shadow: none;
  opacity: 0.9;
  border-radius: 0;
}

.posts_container .post .post-overlay:before{
  content: 'Read';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  color: white;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 500;
  Letter-spacing: 1px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition-delay: 0.5s;
}

.posts_container .post .post-overlay:hover:before{
  display: none;
  transition-delay: 0s;

}

.posts_container .post .post-content{
  padding: 20px;
  box-sizing: border-box;
  z-index: 1;
  pointer-events: none;
  opacity: 0;
  visibility: hidden;
  transition: 0s;
  color: white;
}

.posts_container .post .post-overlay:hover ~ .post-content{
  opacity: 1;
  visibility: visible;
  transition: 0.2s;
  transition-delay: 0.5s;
}

.posts_container .post .post-content h2{
  margin: 0;
  padding: 0;
}

.botao_editar{
  position: absolute;
  right: 20px;
  top: 20px;
  width: 50px;
  height: 50px;
}

.botao_editar button{
  background-color: transparent;
  box-shadow: 0 2px 5px rgba(0,0,0,.2);
  border-radius: 50%;
  border: none;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.new_post{
  text-decoration: none;
  position: absolute;
  right: 50px;
  color: #0294c5;
  border: 3px solid #0294c5;
  padding: 20px 40px;
  font-size: 14px;
  font-family: sans-serif;
  letter-spacing: 5px;
  transition: all 0.5s;
  width: fit-content;
  background: rgb(34, 34, 34);
}
